version: "3.8"

services:
  backend:
    build:
      context: ./server/rest
      dockerfile: Dockerfile
    image: ik04/lysergic-backend:latest
    env_file:
      - ./server/rest/.env
    ports:
      - "5000:5000"
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  prometheus_data:
