@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="lysergic"] {
  --color-accent: #9257e7;
  --color-accent2: #e4f64f;
  --color-error: #e44d8a;
  --color-background: #121418;
  --color-baseColor: #efefef;
  --color-rating: #f9e27d;
  background-color: #121418;
}

html[data-theme="psychedelic"] {
  --color-accent: #c947e7;
  --color-accent2: #adff2f;
  --color-error: #ff4fa8;
  --color-background: #0f0b1e;
  --color-baseColor: #fdfdfd;
  --color-rating: #ffe97f;
  background-color: #0f0b1e;
}

html[data-theme="cyberdelic"] {
  --color-accent: #00c8dd;
  --color-accent2: #e042e5;
  --color-error: #ff6a5e;
  --color-background: #0b0818;
  --color-baseColor: #ddddf7;
  --color-rating: #f6e7a4;
  background-color: #0b0818;
}

html[data-theme="vaporwave"] {
  --color-accent: #ff83d1;
  --color-accent2: #4adfff;
  --color-error: #ff7a9b;
  --color-background: #323448;
  --color-baseColor: #f1f1f1;
  --color-rating: #fcfcaa;
  background-color: #323448;
}

html[data-theme="alchemy"] {
  --color-accent: #c9a533;
  --color-accent2: #4de58e;
  --color-error: #ff6669;
  --color-background: #181818;
  --color-baseColor: #f2f2e3;
  --color-rating: #eac440;
  background-color: #181818;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
